<div>
    <form (ngSubmit)="onSubmit()">
        <ng-content></ng-content>
        <label>
            Email Address
            <input type="email" name="email" [(ngModel)]="formData.Email">
        </label>
        <label>
            Password
            <input type="password" name="password" [(ngModel)]="formData.Password">
        </label>
        <ng-content select="app-auth-remember"></ng-content>
        <div *ngIf="showMessage">
            You will be logged in for 30 days
        </div>
        <ng-content select="button"></ng-content>
    </form>
</div>
