<div>
    <form (ngSubmit)="onSubmit()">
        <ng-content></ng-content>
        <label>
            Email Address
            <input type="email" name="email" [(ngModel)]="formData.Email" #email>
        </label>
        <label>
            Password
            <input type="password" name="password" [(ngModel)]="formData.Password">
        </label>
        <ng-content select="app-auth-remember"></ng-content>
        <app-auth-message [style.display]="showMessage ? 'inline' : 'none'"></app-auth-message>
        <ng-content select="button"></ng-content>
    </form>
</div>
